# Local env
.env

# Test
.playwright-mcp/

# Binaries
quizme
*.exe
*.dll
*.so
*.dylib

# Go
vendor/

# Frontend
frontend/node_modules/
frontend/dist/*
!frontend/dist/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker volumes
docker-data/

# Misc
plan/
